from libc.stdint cimport *
from cpython.ref cimport PyObject
from cpython cimport Py_buffer


cdef class NullListener:
    cpdef void _Modified(self)

cdef public NullListener null_listener


cdef class TypedList(list):
    
    cdef type _list_type
    cdef PyObject *_listener


cdef class BytesList(list):

    cdef PyObject *_listener


cdef class StringList(list):

    cdef PyObject *_listener


{% macro scalar_list(name, type) %}
cdef class {{ name }}:

    cdef {{ type }} *_data
    cdef size_t _n_items
    cdef size_t _size
    cdef PyObject *_listener
    cdef Py_ssize_t shape[1]
    cdef Py_ssize_t strides[1]

    cdef void _append(self, {{ type }} x)

    cpdef append(self, {{ type }} x)
    cpdef extend(self, {{ name }} x)
    cpdef insert(self, int i, {{ type }} x)
    cpdef pop(self)
    cpdef remove(self, {{ type }} x)

{% endmacro %}

{% for name, type in def.items() %}
{{ scalar_list(name, type) }}
{% endfor %}
