from libc.stdint cimport *

cdef class TypedList(list):
    
    cdef type _list_type

{% macro scalar_list(name, type) %}
cdef class {{ name }}:

    cdef {{ type }} *_data
    cdef size_t _n_items
    cdef size_t _size

    cpdef append(self, {{ type }} x)
    cpdef extend(self, {{ name }} x)
    cpdef insert(self, int i, {{ type }} x)
    cpdef pop(self)
    cpdef remove(self, {{ type }} x)
{% endmacro %}

{% for name, type in def.items() %}
{{ scalar_list(name, type) }}
{% endfor %}
